body {
    background: url(assets/andromeda.jpg);
}

.header{
    color: white;
    background: url(assets/sakura.jpg) center repeat;
    border-radius: 10em;
    top: 10%;
}
h1{    
    font-family: 'Pacifico', sans-serif;
    color: white;
    text-shadow: 2px 2px black;
    letter-spacing: -0.025em;
    text-align: center;
}
h2{
    font-family: 'Caveat', cursive;
    letter-spacing: -0.015em;
    color:white;
    text-shadow: 2px 2px black;
    text-align: center;
}
p{
    color: white;
    font-family: 'Cuprum', sans-serif;
    text-align: center;
}
.contact{
    color:white;
    position: relative;
    text-align: center;
}
.aboutMe{
    color: white;
}
.carousel{
    top: 0%;
    left: 0%;
}

.footer{
    color: white;
    position: relative;
}

.projects{
    color: white;
    position: relative;
    text-align: center;
    top: 1em;
}

.carousel-item>img{
    height: 15em;
 }
